@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
    url('../fonts/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bellefair';
    src: url('../fonts/BarlowCondensed-Regular.woff2') format('woff2'),
    url('../fonts/BarlowCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Regular.woff2') format('woff2'),
    url('../fonts/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1440px;
}
.container{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.home-page{
    display: flex;
    flex-direction: column;
    
    
    width: 1440px;
    
    box-sizing: border-box;
    padding: 30px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/Desktop\ -\ Home.png);
}

.about-bg{
    display: flex;
    flex-direction: column;
    
    
    width: 1440px;
    
    box-sizing: border-box;
    padding: 30px;
    
    background-image: url(../img/Desktop\ -\ Destination\ -\ A.png);
}
.contact-bg{
    display: flex;
    flex-direction: column;
    
    
    width: 1440px;
    
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 0;
    
    background-image: url(../img/Desktop\ -\ Crew\ -\ A.png);
}
.technology-bg{
    display: flex;
    flex-direction: column;
    
    
    width: 1440px;
    
    box-sizing: border-box;
    padding: 30px;
    
    background-image: url(../img/Desktop\ -\ Technology\ -\ A.png);
}
.left-items{
    position: relative;
    align-items: center;
    display: flex;
    width: 500px;
    margin-right: 700px;
    
}
.header-line{
    position: absolute;
    right: -80px;
    mix-blend-mode: normal;
    opacity: 0.25;
    width: 400px;
    height: 1px;
    background: #FFFFFF;
}
.site-nav{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    right: 0;
    top: 0;
    list-style: none;
    width: 800px;
    height: 50px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}
.site-nav span{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    margin-right: 5px;
    
    color: #FFFFFF;
}
.site-nav__title a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.site-nav li{
    margin-left: 30px;
}
.site-nav li:first-child{
    margin: 0;
}
.nav-link{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    padding-bottom: 14px;
    border-bottom: 2px solid transparent;
}
.site-nav a:hover{
    border-bottom: 2px solid #D0D6F9;
}
.active_link{
    border-bottom: 2px solid #D0D6F9;
}
.planeta-active_link{
    padding-bottom: 12px;
    border-bottom: 2px solid #D0D6F9;
}
.planeta-link:hover{
    border-bottom: 2px solid #D0D6F9;
    padding-bottom: 12px;
    border-bottom: 2px solid white;
}
.site-nav a:active{
    border: 1px solid white;
    border-bottom: 1px solid white;
}
.header__span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #FFFFFF;
}
.header__span img{
    width: 30px;
    height: 30px;
}
.hero{
    display: flex;
    margin-top: 200px;
    padding-bottom: 100px;
}
.hero-texts {
    margin-right: 200px;
    width: 480px;
    height: 380px;
}
.hero-texts h1{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
}
.hero-texts p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}
.space{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;
}
.explore img{
    margin-top: 100px;
}


/* ABOUT-PAGE */

.moon-hero{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.hero-right-items{
    width: 445px;
    height: 470px;
}
.hero-right-items h1{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 160px;
    line-height: 115px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
}
.moon-text{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}
.moon-line{
    border: 1px solid transparent;
    background-color: #383B4B;
}
.hero-left-items{
    width: 650px;
    height: 650px;
}
.hero-left-items h1{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 100px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.first{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
}
.item__nav{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.item__nav li:not(:first-child){
    margin-left:30px;
}
.item__nav li{
    list-style: none;
}
.item__nav a{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-decoration: none;
    color: #FFFFFF;
}
.km-hours__title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -110px;
}
.km-hours__text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -80px;
}
.km-hours__text p{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    margin-bottom:3px ;
    color: #D0D6F9;
}
.km-hours__title p{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: 3px;
    color: #FFFFFF;
}


/* CONTACT PAGE */


.crew-hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.spaceman{
    margin-top: 100px;
    margin-bottom: -90px;
}
.spaceman img{
    margin-top: 50px;
}
.center-texts{
    height: 400px;
    margin-right: 90px;
    margin-top: -60px;
}
.center-texts h1 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #ffffff51;
    mix-blend-mode: normal;
}
.center-texts span {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.center-texts p {
    margin-top: 40px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}
.meet-crew{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 100px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.meet-crew span{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-right: 10px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    opacity: 0.25;
}
.spans{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    width: 90px;
}
.white-span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.grey-span:hover{
    background-color: #ffffff;
}
.grey-span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: grey;
}
.grey-span:not(:first-child){
    margin-left: 10px;
}

/* <TECH PAGE> */

.tech-hero{
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}

.white-tab-text {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid white;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 2px;
    
    color: #0B0D17;
    background-color: #ffffff;
}
.black-tab-text{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid white;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.black-tab-text:hover{
    opacity: 0.7;
    background-color: #ffffff2d;
    transition: all 0.3s ease-in-out;
}
.space-rocket {
    padding-top: 100px;
    margin-left:200px;
    margin-right: -163px;
}
.tab-texts {
    margin-left: 50px;
}
.tab-texts h1{
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
}
.meet-tech {
    margin-top: 80px;
    margin-bottom: -50px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
}
.meet-tech span {
    margin-right: 20px;
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #ffffff;
    opacity: 0.25;
}
.tab-texts span {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
}
.tab-texts p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9; 
}